# Curso Udemy - Odemir - Cap.01

## Sintaxe Básica

In [1]:
print('Bem vindo ao Curso de Python')

Bem vindo ao Curso de Python

### Operadores Matemáticos

In [2]:
# soma
1 + 4

5

In [3]:
# divisão 

4/4

1.0

In [4]:
# multiplicação

4 * 2

8

In [5]:
# exponenciação

2**3

8

In [6]:
# resto da divisão

3%4

3

In [7]:
# divisão de chão

3 // 4

0

In [8]:
## Priorização - primeiro multiplicação, depois adição.

### Variáveis

In [9]:
nome = 'Jose Paschoal'

In [10]:
nome

'Jose Paschoal'

### Tipos de Variáveis

In [11]:
# Variáveis de Texto

var_texto = 'Qualquer coisa'
var_texto2 = str('qualquer coisa')

In [12]:
# Variáveis Numéricas

var_inteiro = 100
var_inteiro2 = int(10)

In [13]:
# Variáveis Float

var_flutuante = 10.1
var_flutuante2 = float(10.4)

In [14]:
# temos também as variáveis boleanas - True or False

## Tipos de Dados

In [15]:
# listas
# tuplas
# dicionários

## Nomeação de Variáveis

In [16]:
morango = banana = kiwi = 100

print(morango, banana, kiwi)

100 100 100

In [17]:
## combinar variáveis

nome = 'José'
sobrenome = 'Paschoal'

nome_completo = nome + " " + sobrenome

print(nome_completo)

José Paschoal

## Tipo da Informação

In [18]:
# string
# int
# datatime
# outros;

### Comando Round - Arredondar Valores

In [19]:
# exemplo

valor = 12.65789

valor

12.65789

In [20]:
round(valor, 2)

12.66

### Comando Len - Quantidade de Elementos

In [21]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
len(lista)

8

## Fatiamento de String

In [23]:
# strings são listas e podemos acessar as posições por meio de colchetes

string = 'adoro estudar'

In [24]:
string[0]

'a'

## Comando Replace

In [25]:
string = 'ola mundo'

In [26]:
string.replace('mundo', 'mundao')

'ola mundao'

In [27]:
## checando início ou final

string.startswith('ola')

## endswith

True

In [28]:
## contagem

string.count('m')

1

In [29]:
## transformando a string

nome = 'jose'

nome.capitalize()

'Jose'

In [30]:
## retirando espaços desnecessários

endereco = ' rua marechal deodoro '

endereco

' rua marechal deodoro '

In [31]:
endereco.strip()

'rua marechal deodoro'

In [32]:
## comando split - divisão

endereco = 'rua marechal dedoro, 452, araras'

In [33]:
endereco.split(',')

['rua marechal dedoro', ' 452', ' araras']

## Comando Input

In [34]:
## bem tranquilo de ser feito

### Operadores de Comparação

In [35]:
10 == 10

True

In [36]:
10 != 10

False

### Operadores Lógicos

In [37]:
10 > 2 and 10 > 3

True

In [38]:
10 > 2 and 10 > 20

False

In [39]:
10 > 20 or 10 >2

True

In [40]:
## in
## not in

### Operadores de Identidade

In [41]:
## is e o is not

### Operadores de Associação

In [42]:
## uso do in e do not in

### Operando com Listas

In [43]:
lista = []

In [44]:
lista

[]

In [45]:
lista.append(1)
lista.append(2)

In [46]:
lista

[1, 2]

In [47]:
## acessando os valores da lista

lista[0]

1

In [48]:
lista[1]

2

In [49]:
lista[-1]

2

In [50]:
## limpando a lista

lista.clear()

In [51]:
lista

[]

## Módulo Datetime

In [52]:
import datetime

In [53]:
dia_hoje  = datetime.datetime.today()

print(dia_hoje)

2022-05-05 17:46:00.773365

In [54]:
print(datetime.datetime.today().date())

2022-05-05

In [55]:
data = datetime.datetime.today().date()

In [56]:
ano = data.year

print(ano)

2022

### Construindo uma data

In [57]:
data_antiga = datetime.date(2022,1,1)

In [58]:
data_antiga

datetime.date(2022, 1, 1)

In [59]:
data

datetime.date(2022, 5, 5)

In [60]:
data - data_antiga

datetime.timedelta(days=124)

In [61]:
## invertendo a data - padrão br

data.strftime('%d/%m/%y')

'05/05/22'

## Pacote Time

In [62]:
import time

In [63]:
print('comecei agora....')

time.sleep(5)


print('...terminei')

comecei agora....
...terminei

## Pacote Random

In [65]:
import random

In [66]:
lista = [1,2,3,4,5,6,7,8]

In [70]:
random.choice(lista)

8

In [71]:
palavra = 'paschoal'

In [72]:
random.choice(palavra)

'a'

In [73]:
## gerar valores dentro de um período

random.randint(0,1000)

692

## Pacote Statistics

In [74]:
## tirar a média, mediana e moda

In [75]:
import statistics

In [76]:
lista = [12,15,28,56,78,80]

In [77]:
sum(lista)/len(lista)

44.833333333333336

In [78]:
statistics.mean(lista)

44.833333333333336

In [79]:
statistics.median(lista)

42.0

In [81]:
statistics.mode(lista)

12